@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  ::selection {
    color: rgb(22 78 99 /1);
    background-color: #67e8f9;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }
  color: #d4d4d4;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
